USE [master]
GO
/****** Object:  Database [StockDB]    Script Date: 19/05/2025 10:02:01 ******/
CREATE DATABASE [StockDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StockDB.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StockDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\StockDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockDB]
GO
/****** Object:  Table [dbo].[CurrencyRate]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyRate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nvarchar](3) NULL,
	[RateDate] [date] NULL,
	[RateValue] [decimal](18, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndexTable]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[indexprecode] [nvarchar](2) NULL,
	[indexnumber] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemProcedure]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemProcedure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[ProcedureId] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameEnglish] [nvarchar](300) NULL,
	[NameArabic] [nvarchar](300) NULL,
	[NameFrench] [nvarchar](300) NULL,
	[DisplayName] [nvarchar](300) NULL,
	[Code] [nvarchar](100) NULL,
	[ParentID] [int] NULL,
	[IsParent] [bit] NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[BarcodeNumber] [nvarchar](50) NULL,
	[UnitID] [int] NULL,
	[Picture] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
	[MinOrderQty] [decimal](18, 2) NULL,
	[MaxOrderQty] [decimal](18, 2) NULL,
	[OrderPoint] [decimal](18, 2) NULL,
	[MaxLevel] [decimal](18, 2) NULL,
	[MinLevel] [decimal](18, 2) NULL,
	[StandardOrderQty] [decimal](18, 2) NULL,
	[IsSellable] [bit] NULL,
	[IsPurchasable] [bit] NULL,
	[Expires] [bit] NULL,
	[QuantityOnHand] [int] NULL,
	[SimilarQuantityNet] [decimal](18, 3) NULL,
	[PrefferedSupplierID] [int] NULL,
	[LastPurchasePrice] [decimal](18, 3) NULL,
	[LastPurchaseCurrencyID] [int] NULL,
	[LastPurchaseDate] [datetime] NULL,
	[LastPurchaseSupplierID] [int] NULL,
	[BestPurchasePrice] [decimal](18, 3) NULL,
	[BestPurchaseCurrencyID] [int] NULL,
	[BestPurchaseDate] [datetime] NULL,
	[BestPurchaseSupplierID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[SurgerySetID] [int] NULL,
	[PurchaseUnitID] [int] NULL,
	[PFactor] [decimal](18, 3) NULL,
	[MOHCode] [nvarchar](50) NULL,
	[PublicPriceLBP] [decimal](18, 3) NULL,
	[MinNoDaysforExDate] [int] NULL,
	[HasVAT] [bit] NULL,
	[VATValue] [decimal](18, 3) NULL,
	[CountryOriginID] [int] NULL,
	[MedicalProcedureID] [int] NULL,
	[ACU] [decimal](18, 3) NULL,
	[IsActive] [bit] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Presentation] [nvarchar](500) NULL,
	[PresentationUnitID] [int] NULL,
	[PresentationFactor] [decimal](18, 3) NULL,
	[PresentationPublicPriceLBP] [decimal](18, 3) NULL,
	[ForeignACU] [decimal](18, 3) NULL,
	[LocalLastPurchasePrice] [decimal](18, 3) NULL,
	[ForeignLastPurchasePrice] [decimal](18, 3) NULL,
	[ItemQrCode] [nvarchar](500) NULL,
	[BrandId] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemSuppliers]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSuppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[SupplierId] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDeliveryDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDeliveryDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LineNumber] [int] NULL,
	[PurchaseDeliveryID] [int] NULL,
	[PurchaseDeliveryCode] [nvarchar](15) NULL,
	[PurchaseOrderDetailID] [int] NULL,
	[ItemID] [int] NULL,
	[ItemBrandID] [int] NULL,
	[UnitID] [int] NULL,
	[OrderPrice] [decimal](18, 3) NULL,
	[DeliveryPrice] [decimal](18, 3) NULL,
	[OrderedQuantity] [decimal](18, 3) NULL,
	[RecievedQuantity] [decimal](18, 3) NULL,
	[Notes] [nvarchar](max) NULL,
	[PODiscountPercentage] [decimal](18, 3) NULL,
	[PODiscountAmount] [decimal](18, 3) NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[DiscountAmount] [decimal](18, 3) NULL,
	[UnitDiscountedPrice] [decimal](18, 3) NULL,
	[ExpectedGratisQuantity] [decimal](18, 3) NULL,
	[IsFreeItem] [bit] NULL,
	[RecievedGratisQuantity] [decimal](18, 3) NULL,
	[FreeItemParentID] [int] NULL,
	[CurrencyID] [int] NULL,
	[SubTotal] [decimal](18, 3) NULL,
	[Factor] [decimal](18, 3) NULL,
	[TotalDiscountedPrice] [decimal](18, 3) NULL,
	[QtyPurchase] [decimal](18, 3) NULL,
	[LocalAmount] [decimal](18, 3) NULL,
	[ForeignAmount] [decimal](18, 3) NULL,
	[IsDifferentQuantity] [bit] NULL,
	[IsDifferentUnitPrice] [bit] NULL,
	[IsDifferentGratis] [bit] NULL,
	[IsDifferentFreeItems] [bit] NULL,
	[IsDifferentExpiryDate] [bit] NULL,
	[IsDifferentDiscount] [bit] NULL,
	[IsNotMatch] [bit] NULL,
	[HasVAT] [bit] NULL,
	[TotalVATAmount] [decimal](18, 3) NULL,
	[VATPercentage] [decimal](18, 3) NULL,
	[TotalNetAmount] [decimal](18, 3) NULL,
	[StockUnitCost] [decimal](18, 3) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[LocalExRate] [decimal](18, 3) NULL,
	[ForeignExRate] [decimal](18, 3) NULL,
	[ReturnedQty] [decimal](18, 3) NULL,
	[ReturnedGratisQty] [decimal](18, 3) NULL,
	[ExpiryDate] [date] NULL,
	[ItemName] [nvarchar](150) NULL,
	[ItemCode] [nvarchar](50) NULL,
	[LotNumber] [nvarchar](500) NULL,
	[QrCodeNumber] [nvarchar](500) NULL,
 CONSTRAINT [PK_PurchaseDeliveryDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDeliveryHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDeliveryHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[PurchaseOrderID] [int] NULL,
	[PurchaseOrderCode] [nvarchar](15) NULL,
	[DeliveryDate] [datetime] NULL,
	[DeliveredByID] [int] NULL,
	[OrderedQuantity] [int] NULL,
	[RecievedQuantity] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsCompleted] [bit] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[DiscountAmount] [decimal](18, 3) NULL,
	[TotalAmount] [decimal](18, 3) NULL,
	[WareHouseID] [int] NULL,
	[LocalAmount] [float] NULL,
	[ForeignAmount] [float] NULL,
	[VoucherNumber] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[ReferenceDate] [datetime] NULL,
	[CurrencyID] [int] NULL,
	[PurchaseDeliveryUpdatedReasonID] [int] NULL,
	[IsReOpened] [bit] NULL,
	[ReOpenedDate] [datetime] NULL,
	[ReOpenedByID] [int] NULL,
	[IsDifferentCurrency] [bit] NULL,
	[IsDifferentDeliveryDate] [bit] NULL,
	[IsDifferentQuantity] [bit] NULL,
	[IsDifferentUnitPrice] [bit] NULL,
	[IsDifferentGratis] [bit] NULL,
	[IsDifferentFreeItems] [bit] NULL,
	[IsDifferentExpiryDate] [bit] NULL,
	[IsNotMatch] [bit] NULL,
	[PurchaseInvoiceFilePath] [nvarchar](50) NULL,
	[IsPosted] [bit] NULL,
	[PostingTime] [datetime] NULL,
	[PostedByID] [int] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[LocalExRate] [decimal](18, 3) NULL,
	[ForeignExRate] [decimal](18, 3) NULL,
	[ProjectID] [int] NULL,
	[SupplierId] [int] NULL,
 CONSTRAINT [PK_PurchaseDeliveryHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FK_Id] [int] NOT NULL,
	[FK_Code] [nvarchar](15) NULL,
	[ItemCode] [nvarchar](15) NULL,
	[ItemDetail] [nvarchar](150) NULL,
	[ItemNote] [nvarchar](200) NULL,
	[Received] [bit] NULL,
	[ItemID] [int] NULL,
	[LineNumber] [int] NULL,
	[ItemBrandID] [int] NULL,
	[StockUnitID] [int] NULL,
	[StockUnitPrice] [decimal](18, 3) NULL,
	[PurchaseFactor] [decimal](18, 3) NULL,
	[PurchaseUnitID] [int] NULL,
	[PurchaseUnitPrice] [decimal](18, 3) NULL,
	[PurchaseQty] [decimal](18, 3) NULL,
	[SubTotal] [decimal](18, 3) NULL,
	[ContractPrice] [decimal](18, 3) NULL,
	[ContractSupplierID] [int] NULL,
	[ContractCurrencyID] [int] NULL,
	[LastPurchasePrice] [decimal](18, 3) NULL,
	[LastPurchaseSupplierID] [int] NULL,
	[LastPurchaseCurrencyID] [int] NULL,
	[BestPurchasePrice] [decimal](18, 3) NULL,
	[BestPurchaseCurrencyID] [int] NULL,
	[BestPurchaseSupplierID] [int] NULL,
	[OrderedQuantity] [decimal](18, 3) NULL,
	[RecievedQuantity] [decimal](18, 3) NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[DiscountAmount] [decimal](18, 3) NULL,
	[UnitDiscountedPrice] [decimal](18, 3) NULL,
	[TotalDiscountedPrice] [decimal](18, 3) NULL,
	[GratisQuantity] [decimal](18, 3) NULL,
	[GratisUnitID] [int] NULL,
	[StockUnitCost] [decimal](18, 3) NULL,
	[IsFreeItems] [bit] NULL,
	[FreeItemParentID] [int] NULL,
	[CurrencyID] [int] NULL,
	[HasVAT] [bit] NULL,
	[VATPercentage] [decimal](18, 3) NULL,
	[TotalAmountVAT] [decimal](18, 3) NULL,
	[NetTotal] [decimal](18, 3) NULL,
	[LocalNetTotal] [decimal](18, 3) NULL,
	[ForeignNetTotal] [decimal](18, 3) NULL,
	[RemovedVAT] [bit] NULL,
	[RemovedVATByID] [int] NULL,
	[RemovedVATDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[LocalExRate] [decimal](18, 3) NULL,
	[ForeignExRate] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[OrderDate] [datetime] NULL,
	[SupplierID] [int] NULL,
	[PreparedBy] [int] NULL,
	[SentDate] [datetime] NULL,
	[OrderSent] [bit] NULL,
	[SentType] [nvarchar](30) NULL,
	[Received] [bit] NULL,
	[ReceivedDate] [datetime] NULL,
	[ReceivedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedMachine] [nvarchar](100) NULL,
	[CreatedUser] [nvarchar](100) NULL,
	[RequestCode] [nvarchar](15) NULL,
	[Notes] [nvarchar](250) NULL,
	[CurrencyID] [int] NULL,
	[IsIssued] [bit] NULL,
	[IssuedByID] [int] NULL,
	[IssuedDate] [datetime] NULL,
	[IsSent] [bit] NULL,
	[SentByID] [int] NULL,
	[DiscountPercentage] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[IsClosed] [bit] NULL,
	[ClosedByID] [int] NULL,
	[CloseDate] [datetime] NULL,
	[CloseReasonID] [int] NULL,
	[CloseNote] [nvarchar](250) NULL,
	[TrailerReasonID] [int] NULL,
	[NumberOfPrints] [int] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[LocalAmount] [decimal](18, 2) NULL,
	[ForeignAmount] [decimal](18, 2) NULL,
	[PurchaseOrderUpdatedReasonID] [int] NULL,
	[DeliveryLocationID] [int] NULL,
	[DeliveryStoreID] [int] NULL,
	[IsCanceled] [bit] NULL,
	[CancelDate] [datetime] NULL,
	[CanceledByID] [int] NULL,
	[CancelReasonID] [int] NULL,
	[CancelNotes] [nvarchar](max) NULL,
	[ExpectedDeliveryDate] [datetime] NULL,
	[ActualDeliveryDate] [datetime] NULL,
	[LocalExRate] [decimal](18, 2) NULL,
	[ForeignExRate] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRequestDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequestDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseRequestID] [int] NULL,
	[ItemID] [int] NULL,
	[UnitID] [int] NULL,
	[ReqQuantity] [decimal](18, 2) NULL,
	[OrderQuantity] [int] NULL,
	[ReceivedQuantity] [int] NULL,
	[PurchaseUnitID] [int] NULL,
	[QuantityPurchaseUnit] [decimal](18, 2) NULL,
	[PurchaseFactor] [decimal](18, 3) NULL,
	[Excluded] [bit] NULL,
	[IsUrgent] [bit] NULL,
	[IsOrdered] [bit] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[ApprovedQuantity] [decimal](18, 2) NULL,
	[PurchaseRequestCode] [nvarchar](15) NULL,
	[ItemName] [nvarchar](150) NULL,
	[ItemCode] [nvarchar](15) NULL,
 CONSTRAINT [PK_PurchaseRequestDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseRequestHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequestHead](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[PurchaseRequestTypeID] [int] NULL,
	[PurchaseRequestMethodID] [int] NULL,
	[RequestDate] [datetime] NULL,
	[IsUrgent] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[RequestedByID] [int] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[RequestedQuantity] [int] NULL,
	[OrderedQuantity] [int] NULL,
	[RecievedQuantity] [int] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedByID] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
	[HasWorkFlow] [bit] NULL,
	[WorkFlowID] [int] NULL,
	[IsRejected] [bit] NULL,
	[RejectedReasonID] [int] NULL,
	[RejectedByID] [int] NULL,
	[RejectedDate] [datetime] NULL,
	[RejectNotes] [nvarchar](max) NULL,
	[WareHouseID] [int] NULL,
	[CurrentWorkFlowID] [int] NULL,
	[CurrentWorkFlowStepID] [int] NULL,
	[IsClosed] [bit] NULL,
	[ClosedByID] [int] NULL,
	[CloseDate] [datetime] NULL,
	[CloseReasonID] [int] NULL,
	[CloseNote] [nvarchar](max) NULL,
	[ExpectedDate] [datetime] NULL,
	[ProjectID] [int] NULL,
	[PurchaseRequestUpdateReasonID] [int] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PurchaseRequest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturnDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturnDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseReturnID] [int] NULL,
	[PurchaseReturnReasonID] [int] NULL,
	[ItemID] [int] NULL,
	[ReturnedQuantity] [decimal](18, 2) NULL,
	[ReturnedGratisQty] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[CurrencyID] [int] NULL,
	[QuantityOnHand] [decimal](18, 2) NULL,
	[UnitID] [int] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[HasVAT] [bit] NULL,
	[VATPercentage] [decimal](18, 2) NULL,
	[TotalVATAmount] [decimal](18, 2) NULL,
	[NetAmount] [decimal](18, 2) NULL,
	[LocalExRate] [decimal](18, 2) NULL,
	[LocalAmount] [decimal](18, 2) NULL,
	[ForeignExRate] [decimal](18, 2) NULL,
	[ForeignAmount] [decimal](18, 2) NULL,
	[Notes] [nvarchar](50) NULL,
	[DeliveryDetailID] [int] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[ItemCode] [nvarchar](15) NULL,
	[ItemName] [nvarchar](150) NULL,
 CONSTRAINT [PK_PurchaseReturnDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturnHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturnHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyID] [int] NULL,
	[SupplierID] [int] NULL,
	[WarehouseID] [int] NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](max) NULL,
	[ReturnedDate] [datetime] NULL,
	[ReturnedByID] [int] NULL,
	[ReasonDiscription] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[HasVAT] [bit] NULL,
	[VATPercentage] [decimal](18, 2) NULL,
	[TotalVATAmount] [decimal](18, 2) NULL,
	[NetAmount] [decimal](18, 2) NULL,
	[LocalExRate] [decimal](18, 2) NULL,
	[LocalAmount] [decimal](18, 2) NULL,
	[ForeignExRate] [decimal](18, 2) NULL,
	[ForeignAmount] [decimal](18, 2) NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsPosted] [bit] NULL,
	[PostingTime] [datetime] NULL,
	[PostedByID] [int] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PurchaseReturnHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockCountDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCountDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NULL,
	[ItemID] [int] NULL,
	[PhysicalCountID] [int] NULL,
	[PhysicalCount] [float] NULL,
	[AvailableQty] [float] NULL,
	[Variation] [float] NULL,
	[Price] [float] NULL,
	[TotalAmount] [float] NULL,
	[CurrencyID] [int] NULL,
	[LocalAmount] [float] NULL,
	[ForeignAmount] [float] NULL,
	[Notes] [nvarchar](max) NULL,
	[AvailableQuantityOnHand] [float] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_StockCountDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockCountHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCountHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[WareHouseID] [int] NULL,
	[CountDate] [datetime] NULL,
	[TotalCountQty] [float] NULL,
	[TotalAvailableQty] [float] NULL,
	[TotalAmount] [float] NULL,
	[CurrencyID] [int] NULL,
	[ForeignAmount] [float] NULL,
	[LocalAmount] [float] NULL,
	[Notes] [nvarchar](max) NULL,
	[PreparedBy] [nvarchar](max) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedByID] [int] NULL,
	[ConfirmedDate] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
 CONSTRAINT [PK_StockCountHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRequisitionDeliveryDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRequisitionDeliveryDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID] [int] NULL,
	[FK_SerialNumber] [nvarchar](15) NULL,
	[RequestedItemID] [int] NULL,
	[ItemId] [int] NULL,
	[UnitID] [int] NULL,
	[DeliveryQuantity] [decimal](18, 3) NULL,
	[PreparedQuantity] [decimal](18, 3) NULL,
	[StkCostCenterID] [int] NULL,
	[IsCancelled] [bit] NULL,
	[CancelledDate] [datetime] NULL,
	[CancelledByID] [int] NULL,
	[IsAcceptedReturned] [bit] NULL,
	[AcceptedReturnedByID] [int] NULL,
	[AcceptedReturnedQuantity] [decimal](18, 3) NULL,
	[AcceptedReturnedDate] [datetime] NULL,
	[ItemName] [nvarchar](150) NULL,
	[ItemCode] [nvarchar](150) NULL,
 CONSTRAINT [PK_StockRequisitionDeliveryDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRequisitionDeliveryHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRequisitionDeliveryHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[RequisitionID] [int] NULL,
	[RequisitionCode] [nvarchar](15) NULL,
	[FromWarehouseID] [int] NULL,
	[DepartmentID] [int] NULL,
	[DeliveryDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[IsPosted] [bit] NULL,
	[PostedByID] [int] NULL,
	[PostedDate] [datetime] NULL,
 CONSTRAINT [PK_StockRequisitionDelivery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRequisitionDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRequisitionDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_RequestNumber] [nvarchar](15) NULL,
	[StkRequisitionID] [int] NULL,
	[ItemID] [int] NULL,
	[ItemName] [nvarchar](150) NULL,
	[UnitID] [int] NULL,
	[QuantityRequest] [decimal](18, 3) NULL,
	[QuantityDelivered] [decimal](18, 3) NULL,
	[IsDelivered] [bit] NULL,
	[DeliveredDate] [datetime] NULL,
	[DeliveredByID] [int] NULL,
	[QuantityExisted] [decimal](18, 3) NULL,
	[IsCancelled] [bit] NULL,
	[CancelledDate] [datetime] NULL,
	[CancelledByID] [int] NULL,
	[IsReturned] [bit] NULL,
	[QuantityReturned] [decimal](18, 3) NULL,
	[ReturnedDate] [datetime] NULL,
	[ReturnReasonID] [int] NULL,
	[ReturnedByID] [int] NULL,
	[AccpetedQuantity] [decimal](18, 3) NULL,
	[ItemCode] [nvarchar](15) NULL,
 CONSTRAINT [PK_StockRequisitionDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRequisitionHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRequisitionHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NULL,
	[StkOrganizationUnitID] [int] NULL,
	[WareHouseID] [int] NULL,
	[RequestNumber] [nvarchar](50) NULL,
	[RequisitionDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedDate] [datetime] NULL,
	[ConfirmedByID] [int] NULL,
	[IsClosed] [bit] NULL,
	[ClosedDate] [datetime] NULL,
	[ClosedByID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[IsAsset] [bit] NULL,
 CONSTRAINT [PK_StockRequisitionHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransferDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransferDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StkTransferID] [int] NULL,
	[ItemID] [int] NULL,
	[UnitID] [int] NULL,
	[Quantity] [float] NULL,
	[CurrencyID] [int] NULL,
	[TotalAmount] [float] NULL,
	[LocalAmount] [float] NULL,
	[ForeignAmount] [float] NULL,
	[ACU] [float] NULL,
	[CostPrice] [float] NULL,
	[CostCurrencyID] [int] NULL,
	[LocalCostPrice] [float] NULL,
	[ForeignCostPrice] [float] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[FK_Code] [nvarchar](15) NULL,
	[ItemName] [nvarchar](150) NULL,
	[ItemCode] [nvarchar](15) NULL,
 CONSTRAINT [PK_StockTransferDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransferHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransferHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[TransferDate] [datetime] NULL,
	[FromWarehouseID] [int] NULL,
	[ToWarehouseID] [int] NULL,
	[TransferQuantity] [decimal](18, 2) NULL,
	[CurrencyID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[LocalAmount] [decimal](18, 2) NULL,
	[ForeignAmount] [decimal](18, 2) NULL,
	[PreparedBy] [nvarchar](50) NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[IsApproved] [bit] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedByID] [int] NULL,
	[ConfirmationDate] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_StockTransferHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockWasteDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockWasteDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NULL,
	[ItemID] [int] NULL,
	[WasteID] [int] NULL,
	[Price] [float] NULL,
	[Quantity] [float] NULL,
	[TotalAmount] [float] NULL,
	[CurrencyID] [int] NULL,
	[LocalAmount] [float] NULL,
	[ForeignAmount] [float] NULL,
	[AvailableQuantityOnHand] [float] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[ItemCode] [nvarchar](100) NULL,
	[ItemDetail] [nvarchar](512) NULL,
 CONSTRAINT [PK_StockWasteDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockWasteHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockWasteHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[ConsumerID] [int] NULL,
	[WareHouseID] [int] NULL,
	[StkWasteTypeID] [int] NULL,
	[WasteReasonID] [int] NULL,
	[WasteDate] [datetime] NULL,
	[TotalWasteQty] [float] NULL,
	[TotalAmount] [float] NULL,
	[CurrencyID] [int] NULL,
	[ForeignAmount] [float] NULL,
	[LocalAmount] [float] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[CreatedByID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsPosted] [bit] NULL,
	[PostedDate] [datetime] NULL,
	[PostedByID] [int] NULL,
	[IsConfirmed] [bit] NULL,
	[ConfirmedByID] [int] NULL,
	[ConfirmationDate] [datetime] NULL,
 CONSTRAINT [PK_StockWasteHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetail]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionCode] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](2) NULL,
	[TransactionDirection] [nvarchar](1) NULL,
	[Suppliercode] [varchar](15) NULL,
	[PatientDm] [varchar](10) NULL,
	[AdmissionCode] [varchar](10) NULL,
	[RoomNumber] [varchar](10) NULL,
	[DoctorCode] [nvarchar](10) NULL,
	[PostOp] [bit] NULL,
	[Itemcode] [varchar](15) NULL,
	[ItemName] [nvarchar](255) NULL,
	[UnitID] [nvarchar](15) NULL,
	[IsFreeItem] [bit] NULL,
	[WarehouseCode] [nvarchar](15) NULL,
	[ItemBrandID] [nvarchar](15) NULL,
	[OrderPrice] [decimal](18, 3) NULL,
	[DeliveryPrice] [decimal](18, 3) NULL,
	[OrderedQuantity] [decimal](18, 3) NULL,
	[Notes] [nvarchar](512) NULL,
	[MajorQuantity] [decimal](18, 3) NULL,
	[MinorQuantity] [decimal](18, 3) NULL,
	[UnitPriceCurrency] [decimal](18, 3) NULL,
	[UnitPriceLocal] [decimal](18, 3) NULL,
	[TotalPriceCurrency] [decimal](18, 3) NULL,
	[TotalPriceLocal] [decimal](18, 3) NULL,
	[TotalPriceForeign] [decimal](18, 3) NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[DiscountAmount] [decimal](18, 3) NULL,
	[UnitDiscountedPriceCurrency] [decimal](18, 3) NULL,
	[UnitDiscountedPriceLocal] [decimal](18, 3) NULL,
	[UnitDiscountedPriceForeign] [decimal](18, 3) NULL,
	[TotalDiscountedPriceCurrency] [decimal](18, 3) NULL,
	[TotalDiscountedPriceLocal] [decimal](18, 3) NULL,
	[TotalDiscountedPriceForeign] [decimal](18, 3) NULL,
	[USDExRate] [decimal](18, 3) NULL,
	[ForeignExRate] [decimal](18, 3) NULL,
	[FromWarehouseCode] [nvarchar](15) NULL,
	[ToWarehouseCode] [nvarchar](15) NULL,
	[ExpectedGratisQuantity] [decimal](18, 3) NULL,
	[RecievedGratisQuantity] [decimal](18, 3) NULL,
	[CurrencyID] [nvarchar](15) NULL,
	[QtyPurchase] [decimal](18, 3) NULL,
	[IsDifferentQuantity] [bit] NULL,
	[IsDifferentUnitPrice] [bit] NULL,
	[IsDifferentGratis] [bit] NULL,
	[IsDifferentFreeItems] [bit] NULL,
	[IsDifferentExpiryDate] [bit] NULL,
	[IsDifferentDiscount] [bit] NULL,
	[IsNotMatch] [bit] NULL,
	[HasVAT] [bit] NULL,
	[TotalVATAmount] [decimal](18, 3) NULL,
	[VATPercentage] [decimal](18, 3) NULL,
	[TotalNetAmount] [decimal](18, 3) NULL,
	[StockUnitCost] [decimal](18, 3) NULL,
	[CreatedByUser] [nvarchar](150) NULL,
	[CreatedMachine] [nvarchar](150) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedByID] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[ReturnedQty] [decimal](18, 3) NULL,
	[ReturnedGratisQty] [decimal](18, 3) NULL,
	[LotNumber] [nvarchar](150) NULL,
	[ExpiryDate] [date] NULL,
	[BillDetailRowId] [int] NULL,
	[MSCode] [nvarchar](150) NULL,
 CONSTRAINT [PK_TransactionDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHead]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[TransactionCode] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](2) NULL,
	[TransactionDirection] [nvarchar](1) NULL,
	[TransactionDate] [datetime] NULL,
	[VoucherNumber] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](50) NULL,
	[ReferenceDate] [datetime] NULL,
	[StkOrganizationUnitID] [int] NULL,
	[FiscalYearID] [int] NULL,
	[PhysicalCountID] [int] NULL,
	[FromWareHouseID] [nvarchar](15) NULL,
	[ToWareHouseID] [nvarchar](15) NULL,
	[ExchangeRate] [decimal](18, 3) NULL,
	[StkConsumptionID] [int] NULL,
	[SupplierCode] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](100) NULL,
	[PatientDM] [nvarchar](15) NULL,
	[AdmissionCode] [nvarchar](15) NULL,
	[RoomNumber] [nvarchar](15) NULL,
	[DebitAcount] [varchar](15) NULL,
	[PurchaseOrderID] [int] NULL,
	[PurchaseOrderCode] [nvarchar](15) NULL,
	[DeliveryDate] [datetime] NULL,
	[DeliveredByID] [nvarchar](15) NULL,
	[Notes] [nvarchar](max) NULL,
	[IsCompleted] [bit] NULL,
	[IsApproved] [bit] NULL,
	[ApprovedByID] [nvarchar](150) NULL,
	[ApprovedDate] [datetime] NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
	[DiscountAmount] [decimal](18, 3) NULL,
	[TotalAmount] [decimal](18, 3) NULL,
	[LocalAmount] [decimal](18, 3) NULL,
	[ForeignAmount] [decimal](18, 3) NULL,
	[CurrencyID] [nvarchar](15) NULL,
	[IsReOpened] [bit] NULL,
	[ReOpenedDate] [datetime] NULL,
	[ReOpenedByID] [nvarchar](150) NULL,
	[IsDifferentCurrency] [bit] NULL,
	[IsDifferentDeliveryDate] [bit] NULL,
	[IsDifferentQuantity] [bit] NULL,
	[IsDifferentUnitPrice] [bit] NULL,
	[IsDifferentGratis] [bit] NULL,
	[IsDifferentFreeItems] [bit] NULL,
	[IsDifferentExpiryDate] [bit] NULL,
	[IsNotMatch] [bit] NULL,
	[PurchaseInvoiceFilePath] [nvarchar](250) NULL,
	[IsPosted] [bit] NULL,
	[PostingTime] [datetime] NULL,
	[PostedByID] [nvarchar](150) NULL,
	[UpdatedByID] [nvarchar](150) NULL,
	[UpdatedDate] [datetime] NULL,
	[PurchaseDeliveryUpdatedReasonID] [int] NULL,
	[TVA] [decimal](18, 4) NULL,
	[TVAAmmount] [decimal](18, 4) NULL,
	[Printed] [bit] NULL,
	[PrintedDate] [datetime] NULL,
	[Locked] [bit] NULL,
	[LockedDate] [datetime] NULL,
	[Transfered] [bit] NULL,
	[Transfereddate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedMachine] [nvarchar](100) NULL,
	[UserCode] [nvarchar](150) NULL,
	[UserName] [nvarchar](255) NULL,
	[IsClosed] [bit] NULL,
	[ClosedByID] [nvarchar](15) NULL,
	[CloseDate] [datetime] NULL,
	[CloseReasonID] [nvarchar](15) NULL,
	[CloseNote] [nvarchar](max) NULL,
	[InvoiceImage] [varbinary](max) NULL,
	[ReceivedbyName] [nvarchar](150) NULL,
	[AccountLabel] [nvarchar](512) NULL,
 CONSTRAINT [PK_PharTransactionHead] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTable]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[UserPass] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLBrand]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLBrand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLBrand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLBuilding]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLBuilding](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLBuilding] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLClosedReason]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLClosedReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_ClosedReason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLContainer]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLContainer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLContainer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLCountry]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLCountry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[Abrev] [nvarchar](3) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLCountry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLCurrency]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLCurrency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[Abrev] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
	[CurencyRate] [decimal](18, 2) NULL,
 CONSTRAINT [PK_VLCurrency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLDepartment]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLDivision]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLDivision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLDivision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLFactory]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLFactory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLFactory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLForms]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLImport]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLImport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLMainCategory]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLMainCategory](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLMainCategory_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLModel]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLRequestType]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLRequestType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLRequestType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLSubCategory]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLSubCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[FK_MainId] [int] NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLSubCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLSupplier]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLSupplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[RegistrationNumber] [nvarchar](255) NULL,
	[AccountNumber] [nvarchar](255) NULL,
	[VatNumber] [nvarchar](255) NULL,
	[VatNote] [nvarchar](255) NULL,
	[CountryId] [int] NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](255) NULL,
	[Phone1] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Cell] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLSupplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLUnits]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLWarehouse]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLWarehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLWarehouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLWasteReason]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLWasteReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLWasteReason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VLWasteType]    Script Date: 19/05/2025 10:02:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VLWasteType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
	[NameEN] [nvarchar](255) NULL,
	[DetailsEN] [nvarchar](1024) NULL,
	[IsActive] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](128) NULL,
	[CreatedMachine] [nvarchar](128) NULL,
 CONSTRAINT [PK_VLWasteType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseOrderDetail] ADD  DEFAULT ((0)) FOR [Received]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Base Unit Public Price' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Items', @level2type=N'COLUMN',@level2name=N'PublicPriceLBP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit used in MOH Medication Indicator' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Items', @level2type=N'COLUMN',@level2name=N'PresentationUnitID'
GO
USE [master]
GO
